@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
  font-family: 'Quicksand';

}

body{
  margin: 20px auto 0 auto;
  background-image: linear-gradient(to right, rgb(20,147,220), rgb(17,54,71))
}
.container{
position:absolute;
top: 100%;
left: 50%;
padding: 50px;
background-color: aliceblue;
transform: translate(-50%,-50%);
border-radius: 20px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.imagem img{
  width: 250px;
  height: 150px;
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.inputbox input{
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  width: 27%;
  text-align: center;
  letter-spacing: 2px;
  
}

.inputbox input:hover{
  background-color: #eeeeee75;
}

.inputbox input:focus-visible{
  outline: 1px solid #6c63ff;
}

.inputbox input::placeholder{
  color: #000000be;
}

.button button{
  width: 100%;
  margin-top: 2.5 rem;
  border: none;
  background-color: #6c63ff;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.button button:hover{
  background-color: #6b63fff1;
}

#submit{
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

fieldset{
  border: 2px solid #000000;
}

legend{
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
  background-color: #000000;
  border-radius: 5px;
  color: #fff;
}

#opiniao:focus-visible{
  outline: 1px solid #6c63ff;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}